.flex-container {
    display: flex;
    flex-direction: row;
  }
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }


.experiment-container {
    width: 100%;
    min-height:100vh;
    font-size:1rem;
    font-family:"Andale Mono", monospace;
    background-color:#F8F7D5;
    padding:10px;
}


  @media only screen and (min-width: 800px) {
    .experiment-container {
        width:60%;
        font-size:1.5rem;
        border-style:solid;
        border-color:black;
        border-radius:10px;
        margin-top:50px;
    
    }
  }
