.experiment-page, .interface{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }

  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media only screen and (max-width: 800px) {
    .flex-container {
      flex-direction: column;
      justify-content: center;
    }
  }


.experiment-container {
    width: 100%;
    min-height:100vh;
    font-size:1rem;
    font-family:"Andale Mono", monospace;
    background-color:#F8F7D5;
    padding:10px;
}

.engine-container {
  background-color:"red";
  width:"50%";
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #F5F5F5;
}

canvas {
  width: 250px;
  height: 250px;
}

  @media only screen and (min-width: 800px) {
    .experiment-container {
        width:60%;
        font-size:1.5rem;
        border-style:solid;
        border-color:black;
        border-radius:10px;
        margin-top:50px;
    
    }

    canvas {
      width: 500px;
      height: 500px;
    }
  }
